body {
font-family: Arial, sans-serif;
background-color: #ffffff;
color: #333;
margin: 0;
padding: 0;
}


header {
background-color: #1900ff;
color: white;
text-align: center;
padding: 15px;
}


nav a {
color: white;
text-decoration: none;
margin: 0 10px;
}


main {
padding: 20px;
}


section {
margin-bottom: 20px;
}


footer {
background-color: #007bff;
color: white;
text-align: center;
padding: 10px;
}